.card {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, 
    -15px -15px 30px #ffffff;
  }
  
  .h3 {
    color: #1a1a1a;
    text-decoration: line-through;
    user-select: none;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 22px;
    margin-bottom: auto;
  }